
catboost_info/
.vscode/
.idea/
.ipynb_checkpoints/

data/processed/*.csv
data/processed/*.npy
dvc_storage/
dvc_storage/
dvclive/
reports/
logs/
models/

*.log

!*.dvc
!dvc.lock
!dvc.yaml
!config/params.yaml